footer.footer
	.footer__container
		.footer__column
			.footer__block
				p.footer__header Tickets
				ul.footer__links
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
			.footer__block
				p.footer__header Tickets
				ul.footer__links
					li.footer__el
						a.footer__link(href="") Schedule & Info
		.footer__column
			.footer__block
				p.footer__header Tickets
				ul.footer__links
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
		.footer__column
			.footer__block
				p.footer__header Tickets
				ul.footer__links
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
			.footer__block
				p.footer__header Tickets
				ul.footer__links
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
		.footer__column
			.footer__block
				p.footer__header Tickets
				ul.footer__links
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
					li.footer__el
						a.footer__link(href="") Schedule & Info
		.footer__column
			.footer__block
				p.footer__header Follow Us
				ul.socials
					li.social
						img.social__image(src="img/socials/in.png", alt="")
						a.social__link(href="")
					li.social
						img.social__image(src="img/socials/fb.png", alt="")
						a.social__link(href="")
					li.social
						img.social__image(src="img/socials/tw.png", alt="")
						a.social__link(href="")
		.footer__column			
			.footer__block
				p.footer__header visit
				.image-link
					img.image-link__image(src="img/squash-footer.png", alt="")
					a.image-link__link(href="")
			.footer__block
				p.footer__header join our mailing list
				.input__search
					input.input__search__input(type="search" placeholder="Your Email")
					button.button.button__search(type="submit")