section.section.section_gallery
	.container
		p.section__header Tournament of Champions 2017
		a.section__back(href="#") 
			span Back to Gallery
		.photo-galleries
			.photo-gallery
				p.photo-gallery__header Highlights 2017
				.photos
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						a.photo__more(href="#") Load More
			.photo-gallery
				p.photo-gallery__header Highlights 2017
				.photos
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-2")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-2")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-2")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-2")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-2")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-2")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-2")
					.photo__block
						a.photo__more(href="#") Load More
			.photo-gallery
				p.photo-gallery__header Highlights 2017
				.photos
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-1")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-3")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-3")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-3")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-3")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-3")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-3")
					.photo__block
						img.photo(src="img/news.jpg", alt="")
						a.photo__link(href="img/news.jpg" data-fancybox="gallery-3")
					.photo__block
						a.photo__more(href="#") Load More