section.section.section_galleries
	.container
		p.section__header Recent News
		.galleries
			.gallery
				img.gallery__image(src="img/gallery.jpg", alt="")
				p.gallery__name Toc 2017
				a.button.button_gallery(href="") read more
			.gallery
				img.gallery__image(src="img/gallery.jpg", alt="")
				p.gallery__name Toc 2017
				a.button.button_gallery(href="") read more
			.gallery
				img.gallery__image(src="img/gallery.jpg", alt="")
				p.gallery__name Toc 2017
				a.button.button_gallery(href="") read more
			.gallery
				img.gallery__image(src="img/gallery.jpg", alt="")
				p.gallery__name Toc 2017
				a.button.button_gallery(href="") read more
			.gallery
				img.gallery__image(src="img/gallery.jpg", alt="")
				p.gallery__name Toc 2017
				a.button.button_gallery(href="") read more
			.gallery
				img.gallery__image(src="img/gallery.jpg", alt="")
				p.gallery__name Toc 2017
				a.button.button_gallery(href="") read more