header.header
	.header-top
		.header-container
			.logo
				a.logo__link(href="#")
				img.logo__image(src="img/logo.png", alt="")
			.info
				p.info__text Grand Central Terminal
				p.info__text January 18 - 25, 2018
			.psa
				img.psa__image(src="img/psaws.png", alt="")
				img.psa__image(src="img/psawt.png", alt="")
			button.button.button_header buy tickets
	.header-bottom
		.header-container
			nav.nav
				a.nav__list-link Menu
				ul.nav__list
					li.nav__list__item
						a.nav__list__link(href="") Home
					li.nav__list__item
						a.nav__list__link(href="") News
					li.nav__list__item
						a.nav__list__link(href="") Schedule
					li.nav__list__item
						a.nav__list__link(href="") Draws
					li.nav__list__item
						a.nav__list__link(href="") Players
					li.nav__list__item
						a.nav__list__link(href="") Sponsors
					li.nav__list__item
						a.nav__list__link(href="") Gallery
						a.nav__list__more(href="") +
						ul.nav__list__sub-menu
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") ToC Events
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") Daily Schedule
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") Media Accreditation
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") Volunteers
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") Souvenir Program
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") Tournament Hotels
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") Directions
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") ToC History
							li.nav__list__sub-menu__item
								a.nav__list__link(href="") Contact
					li.nav__list__item
						a.nav__list__link(href="") About
					li.nav__list__item
						a.nav__list__link(href="") Tickets
				.scores
					a.scores__link(href="") live scores