section.section.section_partners-bottom
	.partners
		.partner
			img.partner__image(src="img/sponsors/squashtv.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/ssq.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/squash.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/ussquashl.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/squashengine.png", alt="")