section.section.section_partners-middle
	.partners
		.partner
			img.partner__image(src="img/sponsors/dunlop-ball.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/brandix.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/leman.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/dunlop.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/gnfh.png", alt="")