section.section.section_home-players
	.container
		p.section__header Who's Playing
		.players
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1
			.player
				.player__container
					img.player__image(src="img/player.png", alt="")
					p.player__name Gregory Gaultier
					p.player__country France
					p.player__rank World No.1