section.section.section_home-news
	.container
		p.section__header News
		.news
			.news-item
				img.news-item__image(src="img/news.jpg", alt="")
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				img.news-item__image(src="img/news.jpg", alt="")
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				img.news-item__image(src="img/news.jpg", alt="")
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				img.news-item__image(src="img/news.jpg", alt="")
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				img.news-item__image(src="img/news.jpg", alt="")
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				img.news-item__image(src="img/news.jpg", alt="")
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				img.news-item__image(src="img/news.jpg", alt="")
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				img.news-item__image(src="img/news.jpg", alt="")
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
