section.section.section_home-firstsreen
	.firstsceen
		.firstsreen__slide
			.container
				h1.firstscreen__header All the World's Best Set for ToC 2018
				p.firstscreen__description.firstscreen__description_bold The World's Grandest Squash Tournament
				p.firstscreen__description is celebrating  its 21st anniversary in the Terminal.
				p.firstscreen__description Reserved seat tickets for the PSA World Series event available now - free public viewing always available.
				button.button.button_firstscreen buy tickets
				p.firstscreen__description Experience the ToC:
				button.button.button_video Play 2018 video
		.firstsreen__slide
			.container
				h1.firstscreen__header All the World's Best Set for ToC 2018
				p.firstscreen__description.firstscreen__description_bold The World's Grandest Squash Tournament
				p.firstscreen__description is celebrating  its 21st anniversary in the Terminal.
				p.firstscreen__description Reserved seat tickets for the PSA World Series event available now - free public viewing always available.
				button.button.button_firstscreen buy tickets
				p.firstscreen__description Experience the ToC:
				button.button.button_video Play 2018 video
		.firstsreen__slide
			.container
				h1.firstscreen__header All the World's Best Set for ToC 2018
				p.firstscreen__description.firstscreen__description_bold The World's Grandest Squash Tournament
				p.firstscreen__description is celebrating  its 21st anniversary in the Terminal.
				p.firstscreen__description Reserved seat tickets for the PSA World Series event available now - free public viewing always available.
				button.button.button_firstscreen buy tickets
				p.firstscreen__description Experience the ToC:
				button.button.button_video Play 2018 video