<!DOCTYPE html>
html(lang="Ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Traverse")
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		link(rel="stylesheet", href="bower_components/normalize-css/normalize.css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Roboto:400,500,900&amp;subset=latin-ext" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		link(href="css/font-awesome.min.css" rel="stylesheet")
		//- link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css")
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css css/main.css -->
		<!-- bower:css -->
		link(rel="stylesheet", href="css/main.css")
		<!-- endbower -->
		<!-- endbuild -->
		block styles
		title Traverse

	body
		block content
		
		
		<!-- build:js js/vendor.min.js -->
		<!-- bower:js -->
		script(src="/bower_components/jQuery/dist/jquery.min.js")
		script(src="/bower_components/slick-carousel/slick/slick.min.js")
		//- script(type="text/javascript" src="/bower_components/popper.js/dist/umd/popper.min.js")
		//- script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
		script(src="/bower_components/bPopup/jquery.bpopup.js")
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:js js/main.min.js -->
		<!-- bower:js -->
		script(src="js/main.js")
		<!-- endbower -->
		<!-- endbuild -->
		block scripts