section.section.section_news
	.container
		p.section__header Recent News
		.news
			.news-item
				.news-item__image-block
					img.news-item__image(src="img/news.jpg", alt="")
				.news-item__info
					p.news-item__info__date October 1, 2016
					p.news-item__info__media Netsuite Open Media
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				.news-item__image-block
					img.news-item__image(src="img/news.jpg", alt="")
				.news-item__info
					p.news-item__info__date October 1, 2016
					p.news-item__info__media Netsuite Open Media
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				.news-item__image-block
					img.news-item__image(src="img/news.jpg", alt="")
				.news-item__info
					p.news-item__info__date October 1, 2016
					p.news-item__info__media Netsuite Open Media
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				.news-item__image-block
					img.news-item__image(src="img/news.jpg", alt="")
				.news-item__info
					p.news-item__info__date October 1, 2016
					p.news-item__info__media Netsuite Open Media
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				.news-item__image-block
					img.news-item__image(src="img/news.jpg", alt="")
				.news-item__info
					p.news-item__info__date October 1, 2016
					p.news-item__info__media Netsuite Open Media
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more
			.news-item
				.news-item__image-block
					img.news-item__image(src="img/news.jpg", alt="")
				.news-item__info
					p.news-item__info__date October 1, 2016
					p.news-item__info__media Netsuite Open Media
				.news-item__text
					p.news-item__text__header NetSuite Open Squash Returns to San Francisco
					p.news-item__text__description October 5, 2017 – New York, NY.  Tickets for the 2018 J.P. Morgan Tournament of Champions (ToC), the world’s largest spectator squash event, will be available for purchase commencing...
					button.button.button__news read more