section.section.section_players
	.top
		.container
			p.section__header Players
			p.section__description Confirmed entries as of December 11, 2017
	.middle
		.container
			.rankings
				p.rankings__header Current World Ranking:
				a.rankings__link(href="#" target="_blank") Psa Mens World Ranking
				a.rankings__link(href="#" target="_blank") Psa Womens World Ranking
	.players
		.container
			.players__men
				p.players__title Men's Entries
				.players__header
					p.players__header__cell Name
					p.players__header__cell Draw
					p.players__header__cell Seed
					p.players__header__cell Ranking
				.players__list
					.player
						.player__cell
							img.player__image(src="img/greg.png", alt="")
						.player__cell
							p.player__name Gregory Gaultier
							p.player__country Fra
						.player__cell
							p.player__draw M
						.player__cell
							p.player__seed 1
						.player__cell
							p.player__ranking 1
						a.player__link(href="https://psaworldtour.com/players/view/375/gregory-gaultier" target="_blank")
					.player
						.player__cell
							img.player__image(src="img/greg.png", alt="")
						.player__cell
							p.player__name Gregory Gaultier
							p.player__country Fra
						.player__cell
							p.player__draw M
						.player__cell
							p.player__seed 1
						.player__cell
							p.player__ranking 1
						a.player__link(href="#" target="_blank")
					.player
						.player__cell
							img.player__image(src="", alt="")
						.player__cell
							p.player__name Gregory Gaultier
							p.player__country Fra
						.player__cell
							p.player__draw M
						.player__cell
							p.player__seed 1
						.player__cell
							p.player__ranking 1
						a.player__link(href="#" target="_blank")
					.player
						.player__cell
							img.player__image(src="img/greg.png", alt="")
						.player__cell
							p.player__name Gregory Gaultier
							p.player__country Fra
						.player__cell
							p.player__draw M
						.player__cell
							p.player__seed 1
						.player__cell
							p.player__ranking 1
						a.player__link(href="#" target="_blank")
			.players__women
				p.players__title Women's Entries
				.players__header
					p.players__header__cell Name
					p.players__header__cell Draw
					p.players__header__cell Seed
					p.players__header__cell Ranking
				.players__list
					.player
						.player__cell
							img.player__image(src="img/greg.png", alt="")
						.player__cell
							p.player__name Gregory Gaultier
							p.player__country Fra
						.player__cell
							p.player__draw M
						.player__cell
							p.player__seed 1
						.player__cell
							p.player__ranking 1
						a.player__link(href="#" target="_blank")
					.player
						.player__cell
							img.player__image(src="", alt="")
						.player__cell
							p.player__name Gregory Gaultier
							p.player__country Fra
						.player__cell
							p.player__draw M
						.player__cell
							p.player__seed 1
						.player__cell
							p.player__ranking 1
						a.player__link(href="#" target="_blank")