section.section.section_schedule
	.section__header-block
		h1.section__header 2018 Glass Court Session Schedule 
		p.section__description January 18 – 25, 2018   Grand Central Terminal
	.schedule
		.schedule__day
			p.schedule__day__date Thur 1/18
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date Thur 1/18
		.schedule__day
			p.schedule__day__date Fri 1/19
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date Thur 1/18
		.schedule__day
			p.schedule__day__date Thur 1/18
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date Fri 1/19
		.schedule__day
			p.schedule__day__date Sat 1/20
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date Sat 1/20
		.schedule__day
			p.schedule__day__date.schedule__day__date_red Sun 1/21
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date.schedule__day__date_red Sun 1/21
		.schedule__day
			p.schedule__day__date Mon 1/22
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date Mon 1/22
		.schedule__day
			p.schedule__day__date Tue 1/23
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date Tue 1/23
		.schedule__day
			p.schedule__day__date Wed 1/24
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date Wed 1/24
		.schedule__day
			p.schedule__day__date Thur 1/25
			.schedule__day__events
				.schedule__day__event
					p.schedule__day__event__time 12:00pm
					p.schedule__day__event__session Session #1
					p.schedule__day__event__round 2M 1<span>st</span> round
			p.schedule__day__date Thur 1/25