section.section.section_schedule-cta
	.image-block
		img.image-block__image(src="img/tickets.png", alt="")
	.cta
		p.cta__header I’ve already bought tickets. And you?
		p.cta__description JANUARY 18-25, 2018
		button.button.button_cta buy tickets

