section.section.section_partners-top
	.partners
		.partner
			img.partner__image(src="img/sponsors/J_P_Morgan-blue.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/LexingtonPartners.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/HSS.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/Comcast.png", alt="")
		.partner
			img.partner__image(src="img/sponsors/SLG.png", alt="")