section.section.section_sponsors
	.container
		.sponsors-block
			h1.section__header Thank You to Our sponsors
			.sponsors
				.sponsors__block
					p.sponsor__header Platinum/Title Sponsor
					img.sponsor__image(src="img/sponsors/JPMorgan-huge.png", alt="")
				.sponsors__block
					p.sponsor__header Gold Sponsors
					img.sponsor__image(src="img/sponsors/lexington-huge.png", alt="")
				.sponsors__block
					p.sponsor__header Diamond Sponsors
					img.sponsor__image(src="img/sponsors/HSS-big.png", alt="")
				.sponsors__block
					p.sponsor__header Silver Sponsors
					img.sponsor__image(src="img/sponsors/comcast-big.png", alt="")
					img.sponsor__image(src="img/sponsors/SLG-big.png", alt="")
					img.sponsor__image(src="img/sponsors/dunlop-ball.png", alt="")
				.sponsors__block
					p.sponsor__header Bronze Sponsors
					img.sponsor__image(src="img/sponsors/brandix.png", alt="")
					img.sponsor__image(src="img/sponsors/dunlop.png", alt="")
					img.sponsor__image(src="img/sponsors/leman.png", alt="")
					img.sponsor__image(src="img/sponsors/gnfh.png", alt="")
				.sponsors__block
					p.sponsor__header Official Partners
					img.sponsor__image(src="img/sponsors/bbbs.png", alt="")
					img.sponsor__image(src="img/sponsors/wsf.png", alt="")
					img.sponsor__image(src="img/sponsors/nysquash.png", alt="")
					img.sponsor__image(src="img/sponsors/ussquashl.png", alt="")
					img.sponsor__image(src="img/sponsors/wco.png", alt="")
				.sponsors__block.sponsors__block_all
					.sponsor
						p.sponsor__header Official suppliers
						img.sponsor__image(src="img/sponsors/palm.png", alt="")
					.sponsor
						p.sponsor__header Official charities
						img.sponsor__image(src="img/sponsors/ssq.png", alt="")
						img.sponsor__image(src="img/sponsors/squash.png", alt="")
					.sponsor
						p.sponsor__header Sanctioned By
						img.sponsor__image(src="img/sponsors/psa.png", alt="")
	.special__thanks
		.container
			p.special__thanks__header Special Thanks to the Following
			p.special__thanks__description for Their Additional Support of The Women's Championship
			.sponsors__block
				img.sponsor__image(src="img/sponsors/JPMorgan.png", alt="")
				img.sponsor__image(src="img/sponsors/lexington.png", alt="")
				img.sponsor__image(src="img/sponsors/talmage.png", alt="")
				img.sponsor__image(src="img/sponsors/stella.png", alt="")