extends ../main

block styles
	<!-- build:css css/news.min.css -->
	<!-- bower:css -->
	link(rel="stylesheet", href="css/news.css")
	<!-- endbower -->
	<!-- endbuild -->
block content
	.wrapper
		include ../header
		main.main
			.content
				include ../news-content
		include ../footer
block scripts