extends ../main

block styles
	<!-- build:css css/schedule.min.css -->
	<!-- bower:css -->
	link(rel="stylesheet", href="css/schedule.css")
	<!-- endbower -->
	<!-- endbuild -->
block content
	.wrapper
		main.main
			.content
				include ../schedule-content
				include ../schedule-cta
				include ../schedule-partners
	